body {
    margin: 0;
    padding: 0;
    background: #1A183B;
}

h2{
    font-size: 2.5em;
    color: #000;
    margin-top: 18px;
    margin-bottom: 12px;
}

a{
    color: inherit;
    text-decoration: none;
}


/* accueil */
.button_bar {
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: rgb(39, 1, 67);
    border-radius: 10px;
    color: #8874DF;
    height: auto;
    width: auto;
}

.gameswipe {
    background-color: transparent;
    border: none;
    font-size: 4em;
    color: #8874DF;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 20px;
}

.top_bar {
    display: flex;
    align-items: center;
    margin-right: 2%;
    background-color: #493C60;
    width: 100%;
    height: 100px;
}

.top_bar button:nth-child(2) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 3%;
}

.top_bar button:nth-child(3) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 1%;
}

.top_bar button:nth-child(4) {
    margin-left: 11%;
}

.top_bar button:nth-child(5) {
    margin-left: 30px;
}

.top_bar button:nth-child(6) {
    margin-left: 30px;
}

.top_bar button:nth-child(7) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: auto;
    margin-right: 3%;
}

.logo{
    position: absolute;
}

.burger_bar{
    margin-top: 2%;
    margin-left: 2%;
}

.burger {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


/* inscription et connection */
.button_bar_inscription {
    padding: 10px 30px;
    border: none;
    background-color: #6E5ABC;
    border-radius: 10px;
    color: #fff;
    height: auto;
    width: auto;
}

.fin_inscription_bloc button:nth-child(1) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 3%;
}

.fin_inscription_bloc button:nth-child(2) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 1%;
}

.inscription_bloc{
    display: flex;
    flex-direction: column;
    background-color: #CFBFEE;
    border-radius: 5%;
    width: 33%;
    height: 32em;
    margin: 2% auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.label{
    font-size: 23px;
    margin-bottom: 0;
    color: #3b3b3b;
}

input{
    height: 6%;
    border-radius: 10px;
}

.fin_inscription_bloc{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* bottom_bar */
.bottom_bar{
    position: fixed;
    background-color: #493C60;
    bottom: 0;
    width: 100%;
    height: 14%;
}

/*questionnaire*/
.buttons_quiz1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.genre_btn {
  background-color: #8874DF;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.genre_btn:hover {
  background-color: #B1A1F7;
}
.btn-next {
  background-color: #5B328A;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1.2rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px #3b2063;
  transition: background-color 0.2s ease;
}
.btn-next:hover {
  background-color: #8F8AF2;
  color: #4918D1;
}
.quiz_container{
    font-family: 'Poppins', sans-serif;
    background-color: #2e254d;
    color: white;
    background-color: #c8b4f7;
    color: #1a103b;
    border-radius: 15px;
    width: 90%;
    max-width: 650px;
    margin: 5% auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.quiz_question {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.genre_btn.selected {
  background-color: #5B328A;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}