body {
    margin: 0;
    padding: 0;
    background: #1A183B;
    font-family: 'Kanit', sans-serif;
}

h2{
    font-size: 2.5em;
    color: #000;
    margin-top: 18px;
    margin-bottom: 12px;
}

a{
    color: inherit;
    text-decoration: none;
}


/* Barre du haut */

.gameswipe:hover img{
    content: url('../logo/boutons/Nom=GameSwipe\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.inscrire:hover{
    content: url('../logo/boutons/Nom=Inscrire\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.connecter:hover{
    content: url('../logo/boutons/Nom=Connecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.deconnecter:hover{
    content: url('../logo/boutons/Nom=Déconnecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.favori:hover{
    content: url('../logo/boutons/Nom=Favori\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.like:hover{
    content: url('../logo/boutons/Nom=Like\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.dislike:hover{
    content: url('../logo/boutons/Nom=Dislike\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.filtres:hover{
    content: url('../logo/boutons/Nom=Filtres\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /*sépare gauche et droite*/
    background-color: #493C60;
    width: 100%;
    height: 100px;
}

.left_group, .right_group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gameswipe{
    margin-left: 6%;
}

.bouton_filtres {
    display: flex;
    margin-right: 100px; /* espace entre le bouton et le bord droit */
}

.boutons_compte{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}
.boutons_categories {
    display: flex;
    gap: 10px; /* espace interne entre chaque bouton */
    margin-right: 200px;
}

.burger_bar{
    margin-top: 2%;
    margin-left: 2%;
}

.burger {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


/* inscription et connection */
.button_bar_inscription {
    padding: 10px 30px;
    border: none;
    background-color: #6E5ABC;
    border-radius: 10px;
    color: #fff;
    height: auto;
    width: auto;
}

.fin_inscription_bloc button:nth-child(1) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 3%;
}

.fin_inscription_bloc button:nth-child(2) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 1%;
}

.inscription_bloc{
    display: flex;
    flex-direction: column;
    background-color: #CFBFEE;
    border-radius: 5%;
    width: 33%;
    height: 32em;
    margin: 2% auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.label{
    font-size: 23px;
    margin-bottom: 0;
    color: #3b3b3b;
}

input{
    height: 6%;
    border-radius: 10px;
}

.fin_inscription_bloc{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* bottom_bar */
.bottom_bar{
    position: fixed;
    background-color: #493C60;
    bottom: 0;
    width: 100%;
    height: 14%;
}