*{
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #1A183B;
}

h1{
    font-size: 2.8em;
    color: #8874DF;
    font-weight: bold;
}

h2{
    font-size: 2.5em;
    color: #000;
    margin-top: 18px;
    margin-bottom: 12px;
}

a{
    color: inherit;
    text-decoration: none;
}


/* accueil */
.button_bar {
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: rgb(39, 1, 67);
    border-radius: 10px;
    color: #8874DF;
    height: auto;
    width: auto;
}

.gameswipe {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: #8874DF;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 20px;
}

.top_bar {
    display: flex;
    align-items: center;
    margin-right: 2%;
    background-color: #493C60;
    width: 100%;
    height: 100px;
}

.top_bar button:nth-child(2) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 3%;
}

.top_bar button:nth-child(3) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 1%;
}

.top_bar button:nth-child(4) {
    margin-left: 11%;
}

.top_bar button:nth-child(5) {
    margin-left: 30px;
}

.top_bar button:nth-child(6) {
    margin-left: 30px;
}

.top_bar button:nth-child(7) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: auto;
    margin-right: 3%;
}

.logo{
    position: absolute;
}

.burger_bar{
    display: flex;
    background-color: transparent;
    gap: 34em;
}

body.burger-bg .burger_bar {
    background-color: #3C2C59;
}

.burger {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 1.5em;
}


/* inscription et connection */
.button_bar_inscription {
    padding: 10px 30px;
    border: none;
    background-color: #6E5ABC;
    border-radius: 10px;
    color: #fff;
    height: auto;
    width: auto;
}

.fin_inscription_bloc button:nth-child(1) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 3%;
}

.fin_inscription_bloc button:nth-child(2) {
    font-size: 3ch;
    font-weight: bold;
    margin-left: 1%;
}

.inscription_bloc{
    display: flex;
    flex-direction: column;
    background-color: #CFBFEE;
    border-radius: 5%;
    width: 33%;
    height: 32em;
    margin: 2% auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.label{
    font-size: 23px;
    margin-bottom: 0;
    color: #3b3b3b;
}

input{
    height: 6%;
    border-radius: 10px;
}

.fin_inscription_bloc{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* bottom_bar */
.bottom_bar{
    position: fixed;
    background-color: #493C60;
    bottom: 0;
    width: 100%;
    height: 14%;
}