* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #1A183B;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 2.8em;
    color: #8874DF;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    color: #000;
    margin-top: 18px;
    margin-bottom: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------------------------------------------------

/* ===== Burger bar ===== */
.burger_bar {
    position: relative; /* parent du menu */
    z-index: 1000000 !important;
}

.burger_menu {
    display: none;
    flex-direction: column;
    background-color: #3C2C59;
    position: fixed;
    top: 25%;
    left: 0;
    width: 200px;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin-top: 2em;
    margin-left: 2em;
    z-index: 1000000 !important;
}

.burger_menu a {
    color: #8874DF;
    text-decoration: none;
    padding: 0.5em 0;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    text-align: center;
    font: Kannitu,sans-serif;
}

.burger_menu a:hover {
    color: #fff;
}

.burger_menu.active {
    display: flex;
    z-index: 1000000 !important;
}
/* ===== Fin burger bar ===== */

/* ----------------------------------------------------------

/* ===== Barre du haut ===== */

.gameswipe:hover img {
    content: url('../logo/boutons/Nom=GameSwipe\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.gameswipe {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: #8874DF;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom:2%;
}

.inscrire:hover {
    content: url('../logo/boutons/Nom=Inscrire\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.connecter:hover {
    content: url('../logo/boutons/Nom=Connecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.deconnecter:hover {
    content: url('../logo/boutons/Nom=Déconnecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.favori:hover {
    content: url('../logo/boutons/Nom=Favori\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.like:hover {
    content: url('../logo/boutons/Nom=Like\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.dislike:hover {
    content: url('../logo/boutons/Nom=Dislike\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.filtres:hover {
    content: url('../logo/boutons/Nom=Filtres\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*sépare gauche et droite*/
    background-color: #493C60;
    width: 100%;
    height: 100px;
}

.left_group,
.right_group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gameswipe {
    margin-left: 6%;
}

.bouton_filtres {
    display: flex;
    margin-right: 100px;
    /* espace entre le bouton et le bord droit */
}

.boutons_compte {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

.boutons_categories {
    display: flex;
    gap: 10px;
    /* espace interne entre chaque bouton */
    margin-right: 200px;
}

.burger_bar {
    display: flex;
    background-color: transparent;
    gap: 34em;
}

body.burger-bg .burger_bar {
    background-color: #3C2C59;
}

.burger {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 1.5em;
}
/* ===== Fin barre du haut ===== */

/* ----------------------------------------------------------

/* ===== Inscription et connexion ===== */

.inscription_bloc {
    display: flex;
    flex-direction: column;
    background-color: #CFBFEE;
    border-radius: 5%;
    width: 33%;
    margin: 2% auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.inscription_bloc h2 {
    font-size: 270%;
    color: #562281;
    text-align: center;
}

.formulaire label {
    display: block;
    font-size: 110%;
    font-weight: 700;
    color: #5F4293;
    margin-top: 10px;
    margin-left: 7px;
}

.formulaire input {
    width: 90%;
    margin-top: 6px;
    padding: 12px;
    border-radius: 20px;
    border: 2px #7a5bcf solid;
    background-color: #f0f2ff;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulaire button {
    padding: 12px 28px;
    background-color: #7a5bcf;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.formulaire button:hover {
    background-color: #957ed7;
}

.formulaire p{
    margin-top:1%;
    margin-bottom:1%;
    margin-left: 7px;
}

/* bouton secondaire pour que ça redirige bien */
.btn_secondaire {
    padding: 12px 28px;
    background-color: #7a5bcf;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btn_secondaire:hover {
    background-color: #957ed7;
}
/* ===== Fin inscription et connexion ===== */

/* ----------------------------------------------------------

/* ===== Barre du bas ===== */
.bottom_bar {
    position: fixed;
    background-color: #493C60;
    bottom: 0;
    width: 100%;
    height: 10%;
}
/* ===== Fin barre du bas ===== */

/* ===== CARD CONTAINER ===== */
.card-container {
    position: relative;
    width: 90vw;
    max-width: 400px;
    height: 500px; /* hauteur fixe pour la pile */
    margin: 20px auto;
    perspective: 1000px;
    overflow: hidden; /* les cartes derrière ne font pas grandir la page */
}

.flip-card {
    position: absolute; /* superposition */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.flip-card:active {
    cursor: grabbing;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

/* ===== FRONT / BACK ===== */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg,#6a00f4,#9e00ff);
    color: white;
    padding: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card-back {
    transform: rotateY(180deg);
}

/* ===== CARD CONTENT ===== */
.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top img {
    width: 100%;
    border-radius: 1%;
}

.card-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-bottom {
    display: flex;
    justify-content: center;
    gap: 1%;
}

/* ===== STAR BUTTON ===== */
.star-button {
    position: absolute;
    top: -5%;
    right: -5%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #f8f8e0;
    color: #9e00ff;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.2s;
}

.star-button:hover {
    transform: scale(1.3);
    box-shadow: 0 1% 3% rgba(0,0,0,0.4);
}

/*questionnaire*/
.buttons_quiz1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.genre_btn {
  background-color: #8874DF;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.genre_btn:hover {
  background-color: #B1A1F7;
}
.btn-next {
  background-color: #5B328A;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1.2rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px #3b2063;
  transition: background-color 0.2s ease;
}
.btn-next:hover {
  background-color: #8F8AF2;
  color: #4918D1;
}
.quiz_container{
    font-family: 'Poppins', sans-serif;
    background-color: #2e254d;
    color: white;
    background-color: #c8b4f7;
    color: #1a103b;
    border-radius: 15px;
    width: 90%;
    max-width: 650px;
    margin: 5% auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.quiz_question {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.genre_btn.selected {
  background-color: #5B328A;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* ----------------------------------------------------------

/* ===== Page profil ===== */
.body_profil {
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /* s'assure que le body prend tout l'écran */
}

/* Profil image et premier div */
h3 {
    color: #fff;
}

.profile-header {
    background-color: #1b1b3a;
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.profile-header h1 {
    margin: 0;
    font-size: 2em;
    color: #9d87e8;
    margin-bottom: 0;
}

.profile-avatar {
    margin-top: 0;
    position: relative;
    display: inline-block;
    margin-top: -6em;
}

.profile-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.profile-avatar .camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.profile-avatar .camera-icon img {
    width: 30px;
    height: 30px;
    display: block;
}

.profile-welcome {
    margin-top: 0.5em;
    font-size: 1.2em;
}

/* div des modifs */
.profile-modif {
    display: flex;
    flex-direction: row;
    flex: 1;                    /* prend tout l’espace restant sous le header */
    background-color: #CFBFEE;
    display: flex;              /* active flexbox pour aligner les colonnes */
    gap: 2%;
    width: 100%;
    box-sizing: border-box;     /* inclut padding et bordures dans la largeur */
}

.profile-modif .column {
    flex: 1;        /* chaque colonne prend la même largeur */
    min-width: 0;   /* pour éviter le débordement des contenus */
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2%;
}

.profile-modif .column:nth-child(2) {
    gap: 6%;
}

.profile-modif input {
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    margin-right: 1em;
    width: 30em;
}

.bouton-input-modif {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    color: #101010;
    font-size: 1.2em;
    font-weight: 500;
}

.btn-red {
    padding: 12px 28px;
    background-color: #c72424ff;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btn-red:hover {
    background-color: #e58787ff;
}
/* ===== Fin page profil ===== */

/* ----------------------------------------------------------

/* ===== Page contact ===== */
.text_contact {
    margin-left: 7.5em;
    margin-right: 7.5em;
    font-size: 1.8em;
    line-height: 1.6;
    color: #8874DF;
    margin-top: 1em;
    text-indent: 2em;
}

.text_contact.intro {
    display: block;
    text-align: center;
}
/* ===== Fin page contact ===== */