* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #1A183B;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 2.8em;
    color: #8874DF;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    color: #b99dc6;
    margin-top: 18px;
    margin-bottom: 12px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Barre du haut */

.gameswipe:hover img {
    content: url('../logo/boutons/Nom=GameSwipe\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.gameswipe {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: #8874DF;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 2%;
}

.inscrire:hover {
    content: url('../logo/boutons/Nom=Inscrire\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.connecter:hover {
    content: url('../logo/boutons/Nom=Connecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.deconnecter:hover {
    content: url('../logo/boutons/Nom=Déconnecter\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.favori:hover {
    content: url('../logo/boutons/Nom=Favori\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.like:hover {
    content: url('../logo/boutons/Nom=Like\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.dislike:hover {
    content: url('../logo/boutons/Nom=Dislike\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.filtres:hover {
    content: url('../logo/boutons/Nom=Filtres\,\ Etat=Souris.svg');
    transition: 0.3s;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*sépare gauche et droite*/
    background-color: #493C60;
    width: 100%;
    height: 100px;
}

.left_group,
.right_group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gameswipe {
    margin-left: 6%;
}

.bouton_filtres {
    display: flex;
    margin-right: 100px;
    /* espace entre le bouton et le bord droit */
}

.boutons_compte {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

.boutons_categories {
    display: flex;
    gap: 10px;
    /* espace interne entre chaque bouton */
    margin-right: 200px;
}

.burger_bar {
    display: flex;
    background-color: transparent;
    gap: 34em;
}

body.burger-bg .burger_bar {
    background-color: #3C2C59;
}

.burger {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 1.5em;
}


/* inscription et connexion */

.inscription_bloc {
    display: flex;
    flex-direction: column;
    background-color: #CFBFEE;
    border-radius: 5%;
    width: 33%;
    margin: 2% auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.inscription_bloc h2 {
    font-size: 270%;
    color: #562281;
    text-align: center;
}

.formulaire label {
    display: block;
    font-size: 110%;
    font-weight: 700;
    color: #5F4293;
    margin-top: 10px;
    margin-left: 7px;
}

.formulaire input {
    width: 90%;
    margin-top: 6px;
    padding: 12px;
    border-radius: 20px;
    border: 2px #7a5bcf solid;
    background-color: #f0f2ff;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulaire button {
    padding: 12px 28px;
    background-color: #7a5bcf;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.formulaire button:hover {
    background-color: #957ed7;
}

.formulaire p {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 7px;
}

/* bouton secondaire pour que ça redirige bien */
.btn_secondaire {
    padding: 12px 28px;
    background-color: #7a5bcf;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btn_secondaire:hover {
    background-color: #957ed7;
}

/* bottom_bar */
.bottom_bar {
    position: fixed;
    background-color: #493C60;
    bottom: 0;
    width: 100%;
    height: 10%;
}

/* ===== CARD CONTAINER ===== */
.card-container {
    position: relative;
    width: 90vw;
    max-width: 400px;
    height: 500px;
    /* hauteur fixe pour la pile */
    margin: 20px auto;
    perspective: 1000px;
    overflow: hidden;
    /* les cartes derrière ne font pas grandir la page */
}

.flip-card {
    position: absolute;
    /* superposition */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.flip-card:active {
    cursor: grabbing;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

/* ===== FRONT / BACK ===== */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, #6a00f4, #9e00ff);
    color: white;
    padding: 2%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-back {
    transform: rotateY(180deg);
}

/* ===== CARD CONTENT ===== */
.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top img {
    width: 100%;
    border-radius: 1%;
}

.card-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-bottom {
    display: flex;
    justify-content: center;
    gap: 1%;
}

/* ===== STAR BUTTON ===== */
.star-button {
    position: absolute;
    top: -5%;
    right: -5%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #f8f8e0;
    color: #9e00ff;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.2s;
}

.star-button:hover {
    transform: scale(1.3);
    box-shadow: 0 1% 3% rgba(0, 0, 0, 0.4);
}

/*questionnaire*/
.buttons_quiz1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.genre_btn {
    background-color: #8874DF;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.genre_btn:hover {
    background-color: #B1A1F7;
}

.btn-next {
    background-color: #5B328A;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.2rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px #3b2063;
    transition: background-color 0.2s ease;
}

.btn-next:hover {
    background-color: #8F8AF2;
    color: #4918D1;
}

.quiz_container {
    font-family: 'Poppins', sans-serif;
    background-color: #2e254d;
    color: white;
    background-color: #c8b4f7;
    color: #1a103b;
    border-radius: 15px;
    width: 90%;
    max-width: 650px;
    margin: 5% auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.quiz_question {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.genre_btn.selected {
    background-color: #5B328A;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



/*FILTRES*/

#overlay_filtres {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 17, 58, 0.54);
    opacity: 0;
    pointer-events: none;
    /*ne bloque pas les clics*/
    transition: 0.3s;
    z-index: 900;
    /*met l'overlay au dessus du site mais sous la barre des filtres*/
}

#overlay_filtres.active {
    opacity: 1;
    pointer-events: auto;
    /*bloque les clics*/
}

#sidebar_filtres {
    position: fixed;
    top: 0;
    right: -410px;
    /*en dehors de l'écran quand pas actif*/
    width: 350px;
    height: 100%;
    /*prend la hauteur de l'écran*/
    background: #2a1f3b;
    border-left: 2px solid #7a52ff30;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.5);
    /*ombre à gauche*/
    padding: 25px;
    /*espace intérieur à gauche et droite*/
    transition: 0.3s;
    /*la sidebar glisse*/
    z-index: 1000;
    /*la barre est au dessus de tout dans le site*/
    overflow-y: auto;
    /*quand contenu trop long on peut scroll*/
}

#sidebar_filtres.active {
    right: 0;
    /*fait apparaître la barre*/
}

.titre_sidebar {
    color: #d1c3ff;
    font-size: 28px;
    margin-bottom: 20px;
}


.filtre-header {
    /*pour avoir le ptit bouton à droite*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bloc_filtre {
    background: #5a4180;
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 10px;
    color: #e2d6ff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.bloc_filtre.open {
    background: #7b5da3;
    /* couleur quand ouvert */
}

.filtre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.arrow {
    transition: transform 0.3s;
}

.bloc_filtre.open .arrow {
    transform: rotate(180deg);
}

.filtre-options {
    display: none;
    margin-top: 10px;
    padding-left: 10px;
}

.bloc_filtre.open .filtre-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.filtre-options label {
    display: block;
    margin-bottom: 5px;
}